/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*end css reset*/

* {
	box-sizing: border-box;
	border-radius: 10px;
}

body{
	font-family: Montserrat, sans-serif;
	line-height: 1.4;
}

.outer-container{
	margin:10px;
}

#reg {
    text-align: right;
	padding: 10px;
}

header{
	background-color: #1ee0e0;
	padding: 10px;
	display: flex;
	align-items: center;
}

header img{
	margin: 5px;
}

div a {
	text-decoration: none;
}

h2,h1{
	font-size: 2em;
	font-weight: bold;
}

h3,h4{
	font-weight: bold;
}

p{
	text-align: justify;
}

.container{
	width: 960px;
	max-width: 100%;
	margin: 0 auto;
}

nav {
	margin: 10px 0px 10px 0px;
	background-color: #3a3a3a;
	display: flex;
	justify-content: space-between;
}

nav ul{
	display: flex;
	flex-wrap: wrap;
}

nav ul li {
	list-style-type: none;
}

nav a.active {
	background-color: #04DE54;
	color: white;
	padding: 15px;
}

nav a:hover:not(.active) {
	background-color: #04DE54;
	color: white;
	padding: 15px;
}

nav a {
	text-decoration: none;
	display: block;
	color: white;
	padding: 15px;
	transition: all .3s;
}

section#content {
	background-color: #99FFCC;
	padding: 15px;
}

section#content  img {
	width: 20em;
	height: auto;
	margin: 0 0 15px 15px;
	padding: 3px;
}

.img{
	float: right;
	width: 20em;
	height: auto;
	margin: 15px;
	padding: 3px;
	border-radius: 15px;
}

input {
	width: 250px;
	padding: 10px;
	margin: 5px;
	border: none;
} 

form input {
	width: 100%;
	padding: 10px 20px;
	margin: 8px 0;
	border: none;
} 

button {
	background-color: #4CAF50;
	color: white;
	padding: 15px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	font-size: 15px;
}

button:hover {
	opacity: 0.8;
}

span.password {
	float: right;
	padding-top: 0;
}

label input {
	width: 20px;
}

#txtbox {
	margin: 8px 0;
	padding: 5px;
	font-size:15px;
    height:200px;
	width:100%;
	border: none;
}

footer {
	border-radius: 10px;
	color: white;
	margin: 10px 0;
	padding: 15px;
	background-color: #3a3a3a;
}
